body {
    background-image: url('../images/what-the-hex.png');
}

#buttons {
    margin-top: 30px;
    margin-bottom: 30px;
}


button {
    margin: 10px;
}

.row {
    justify-content: center;
}

#header {
    background-color: rgb(32, 32, 32);
    height: 150px;
    align-content: center;
}

h1 {
    text-align: center;
    line-height: 2;
    color: #4286f4;
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 1px;
}

#input {
    height: 40px;
}

#input-search {
    margin-top: 0;
}

.col {
    margin-top: 20px;
}

#rate {
    background-color:black;
    color: white;
    font-weight: bolder;
    width: fit-content;
    height: 30px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

#unselected {
    margin-left: 5px;
    color: gold;
}

#selected {
    margin-left: 5px;
    color: gold;
}

#favorites-title {
    background-color: rgb(32, 32, 32);
    margin-top: 20px;
    visibility: hidden;
}